

.nav{

 
/* From https://css.glass */
background: rgba(228, 31, 208, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.2px);
-webkit-backdrop-filter: blur(2.2px);
border: 1px solid rgba(228, 31, 208, 0.3);
}

h2{
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 2px;
}